<!-- 1. Declaramos el template reutilizable de los filtros -->
<ng-template #filterFields>
    <div fxLayout="row wrap">
        <div [formGroup]="fgroupSelect"
             *ngFor="let cbo of data"
             fxFlex="100"
             fxFlex.gt-sm="16"
             fxFlex.sm="33">
            <div class="m-033">
                <mat-form-field style="width: 100%">
                    <mat-label>{{cbo.label}}</mat-label>
                    <mat-select [formControlName]="cbo.variable">
                        <mat-option *ngFor="let r of cbo.data" [value]="r.id">
                            {{r.desc}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</ng-template>

<!-- 2. Lógica para mostrar los filtros con o sin mat-card dependiendo de 'embedded' -->
<ng-container *ngIf="isLoadingSelect">
    <ng-container *ngIf="embedded; else cardFilters" [ngTemplateOutlet]="filterFields"></ng-container>
    
    <ng-template #cardFilters>
        <mat-card class="mat-elevation-z m-033">
            <ng-container [ngTemplateOutlet]="filterFields"></ng-container>
        </mat-card>
    </ng-template>
</ng-container>